<%= form_for task do |f| %>
<div class="panel panel-default" data-priority="<%=task.priority%>" data-id="<%=task.id%>">
  <%= f.check_box :complete %>
  <%= f.submit "Update" %>
  <%= f.label :complete, task.description %>
  <%= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
</div>
<% end %>
