
<div class="panel panel-default" data-priority=" <%= task.priority %>" data-id="<%= task.id %>">

  <%= form_for task, remote: true do |f| %>
      <%= f.check_box :complete %>
      <%= f.label :complete, task.description %>
      <%= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  <% end %>

</div>
